In [3]:
import pandas as pd
import numpy as np

#### Load the dataset

In [ ]:
df = pd.read_csv('../../inputs/datasets/raw/car_prices.csv')
df_sample = df.sample(n=2000, random_state=111)
df_sample.shape
df_sample.to_csv('../../inputs/datasets/raw/car_prices_sample.csv')

#### Check column datatypes

In [4]:
df = pd.read_csv('../../inputs/datasets/raw/car_prices_sample.csv')
df.shape

(2000, 17)

#### Examine the data types

In [29]:
df.dtypes

Unnamed: 0        int64
year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

In [30]:
df['make'].unique()

array(['Ford', 'Scion', 'Chevrolet', 'Jeep', 'Buick', 'Toyota', 'Nissan',
       'Kia', 'Volkswagen', 'Honda', 'Lexus', 'Mazda', 'land rover',
       'Dodge', 'Infiniti', 'BMW', 'Hyundai', 'Lincoln', 'smart',
       'Chrysler', nan, 'Acura', 'Mercedes-Benz', 'Cadillac', 'Suzuki',
       'Pontiac', 'Audi', 'Volvo', 'GMC', 'Subaru', 'Jaguar', 'Ram',
       'Mercury', 'chrysler', 'Mitsubishi', 'Land Rover', 'HUMMER',
       'cadillac', 'Porsche', 'Isuzu', 'lexus', 'Bentley', 'Saturn',
       'MINI', 'FIAT', 'Fisker', 'dodge', 'Aston Martin', 'ford', 'jeep'],
      dtype=object)

What's nan doing in here! Let's replace it with 'unknown'

In [42]:
df['make'] = df['make'].replace(to_replace={np.nan: 'Unknown'})
print(f'Unique values for make : {df['make'].unique().shape[0]}')
df['make'].unique()

Unique values for make : 50

array(['Ford', 'Scion', 'Chevrolet', 'Jeep', 'Buick', 'Toyota', 'Nissan',
       'Kia', 'Volkswagen', 'Honda', 'Lexus', 'Mazda', 'land rover',
       'Dodge', 'Infiniti', 'BMW', 'Hyundai', 'Lincoln', 'smart',
       'Chrysler', 'Unknown', 'Acura', 'Mercedes-Benz', 'Cadillac',
       'Suzuki', 'Pontiac', 'Audi', 'Volvo', 'GMC', 'Subaru', 'Jaguar',
       'Ram', 'Mercury', 'chrysler', 'Mitsubishi', 'Land Rover', 'HUMMER',
       'cadillac', 'Porsche', 'Isuzu', 'lexus', 'Bentley', 'Saturn',
       'MINI', 'FIAT', 'Fisker', 'dodge', 'Aston Martin', 'ford', 'jeep'],
      dtype=object)

#### Looking at the remaining values, we need to remove case-insensitive duplicates too. Let's convert all values to lower-case

In [ ]:
df['make'] = df['make'].apply(lambda x: x.lower())
print(f'Unique values for make : {df['make'].unique().shape[0]}')
np.sort(df['make'].unique()) # Sort to check for near duplicates

Unique values for make : 43

array(['acura', 'aston martin', 'audi', 'bentley', 'bmw', 'buick',
       'cadillac', 'chevrolet', 'chrysler', 'dodge', 'fiat', 'fisker',
       'ford', 'gmc', 'honda', 'hummer', 'hyundai', 'infiniti', 'isuzu',
       'jaguar', 'jeep', 'kia', 'land rover', 'lexus', 'lincoln', 'mazda',
       'mercedes-benz', 'mercury', 'mini', 'mitsubishi', 'nissan',
       'pontiac', 'porsche', 'ram', 'saturn', 'scion', 'smart', 'subaru',
       'suzuki', 'toyota', 'unknown', 'volkswagen', 'volvo'], dtype=object)

# Examine the 'model' column

In [19]:
df['model'].nunique()

342

The large number of unique values for 'model' will pose a problem for encoding.

# Examine the 'body' column

In [22]:
df['body'].unique()

array(['SUV', 'hatchback', 'Sedan', 'sedan', 'Hatchback', 'Wagon', nan,
       'minivan', 'Coupe', 'Crew Cab', 'wagon', 'supercrew',
       'Convertible', 'suv', 'Minivan', 'Extended Cab', 'G Sedan',
       'Quad Cab', 'SuperCrew', 'Regular Cab', 'Double Cab', 'Van',
       'convertible', 'crewmax cab', 'G Coupe', 'E-Series Van',
       'supercab', 'SuperCab', 'coupe', 'CrewMax Cab', 'crew cab',
       'extended cab', 'quad cab', 'e-series van', 'g sedan', 'g coupe',
       'King Cab', 'van', 'regular cab', 'CTS Coupe'], dtype=object)

Again, there are duplicates here, with different cases, so let's eliminate them first

In [24]:
df['body'] = df['body'].replace(to_replace={np.nan: 'Unknown'})
df['body'] = df['body'].apply(lambda x: x.lower())
df['body'].unique()

array(['suv', 'hatchback', 'sedan', 'wagon', 'unknown', 'minivan',
       'coupe', 'crew cab', 'supercrew', 'convertible', 'extended cab',
       'g sedan', 'quad cab', 'regular cab', 'double cab', 'van',
       'crewmax cab', 'g coupe', 'e-series van', 'supercab', 'king cab',
       'cts coupe'], dtype=object)